
body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
}

h1, p {
  color: #333;
}

#sample_container_id {
  width: 800px;
  height: 600px;
  position: relative;
  border: 1px solid #ccc;
  background-color: #fff;
  float: left;
  overflow: hidden;
}

#sample_text_id {
  font-size: 24pt;
  text-align: center;
  margin-top: 140px;
  
}

ul#menubar {
	position: absolute;
	top: 0px;
	left: 150px;
}

ul#menubar li {
	display: inline;
}

ul#menubar li button.pressed {
  background-color: #fdd;
}

#textout {
	width: 210px;
}

#content {
	width: 1100px;
}

#inspector {
	width: 350px;
	display: inline;
	padding-left: 20px;
}

#inspector table input {
  width: 100px;
}

#inspector table th {
	width: 100px;
}

.editor {
	visibility: hidden;
}

#footline {
	clear: both;
	color: #FDFDFD;
	background-color: darkgrey;
	width: 103%;
	display: block;
	height: 140px;
	overflow: hidden;
	margin-left: -15px;
	border-top: 30px solid #F8F8F8;
	padding: 25px;
	text-align: center;
	
}

a {
	color: #444;
	text-decoration: none;
}

a:hover {
	color: #666;
}

#upperInspector {
	background-color: #777;
	padding: 5px;
	display: block;
	color: white;
}

#lowerInspector {
	background-color: #777;
	padding: 5px;
	color: white;
	display: block;
}